
ion-content{
  background: url(../../assets/imgs/login_background001.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}
page-intro {
  .tamanho_img{
    width: 300px;}
  }
  .tutorial-page {

    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }

    .slide-zoom {
      height: 100%;
    }

    .slide-title {
      margin-top: 2.8rem;
    }

    .slide-image {
      max-height: 50%;
      max-width: 60%;
      margin: 18px 0;
    }

    b {
      font-weight: 500;
    }

    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: #60646B;

      b {
        color: #000000;
      }
    }

  }
 /*  page-splash {

    ion-content{
    //background: url(../assets/imgs/splash_background000.jpg);
    background-size: cover;
    background-position: center;
    }
    ion-slides{
        height: 300px;
    }
    ion-slide, .div_img{
        position: relative;
    }
    div.title{
      position: absolute;
      top: 140px;
      left: calc(100% - 130px);
      width: 260px;
      text-align: center;
  }
    ion-slides ion-slide:first-child img{
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .arrow_prev,
    .arrow_next{
        position: absolute;
        font-size: 30px;
        top: 40%;
        cursor: pointer;
        z-index: 99;
    }
    .arrow_prev{
        left: 10px;
    }
    .arrow_next{
        right: 10px;
    }
    .div_img{
        height: calc(50% - 150px) !important;
        text-align: center;
    }
    .div_img img{
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .div_img .title{
        font-size: 20px
    }
    @media (min-width: 500px) {
        ion-content{
            padding-top: 100px;
        }
        ion-slides{
            height: calc(100% - 150px) !important;
        }
        .buttons{
            max-width: 500px;
            margin: auto;
        }
    }
  }
 */
